<%- include ('../../components/header.ejs') %>
<%- include ('../../components/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Cadastro de artigos</h2>
            </div>
            <div class="card-body">
        <form method="POST" action="/categories/save">
            <input class="form-control" type="text" name="title" placeholder="Titulo do artigo" required><br >
            <textarea class="form-control" placeholder="Escreva o artigo aqui" name="body" required></textarea><br >
            <button class="btn btn-success">Cadastrar</button>
        </form>
        </div>
      </div>
    </div>
<%- include ('../../components/footer.ejs') %>