<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-allign">


    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a  class="nav-link" href="/">Home</a>
        </li>

        <% categories.forEach(category => { %>
            <li class="nav-item">
                <a  class="nav-link" href="/category/<%= category.slug %>"></a>
            </li>
        <% }) %>
    </ul>

</nav>