<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <br>
    <div class="card mt-4">
        <div class="card-header">
            Criação de usuário
        </div>
        <div class="card-body">
            <form action="/users/create" method="POST">
                <input class="form-control" name="email" type="email" type="email" placeholder="youremail@hotmail.com" required><br >
                <input class="form-control" name="password" type="password" type="password" placeholder="*******" required><br >
                <button type="submit" class="btn btn-success btn-block">Criar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>